.top-navigation, .hero-area > div:nth-child(1), .hero-area > div:nth-child(1) > button{
    color:white;
}
.hero-area > div:nth-child(1){
    background:radial-gradient(circle at center, rgba(100,100,100,0.6),rgba(0.1,0.1,0.1,0.6));
}
.hero-area > div:nth-child(1) > button{
    background:transparent;
    border:transparent;
}
.produk > .container > div > button{
    background:none;
}
.kegiatan > div:nth-child(2) > div:nth-child(2) > button{
    background:transparent;
}
.form > div:nth-child(1) > img{
    filter:saturate(5);
}
.form > div:nth-child(2){
    background:white;
}
.form > div:nth-child(2) form button{
    background:transparent;
}
.form > div:nth-child(2) form button{
    color:grey;
}