@media screen and (orientation:landscape){
    /*general*/
    .l-flex{
        display:flex;
    }
    /**/
    .top-navigation{
        width:100%;
        height:10%;
        top:0;
        z-index:1000;
    }
    .top-navigation > *{
        margin:1px;
        display:flex;
        align-items: center;
    }
    .top-navigation > *:nth-child(1){
        width:20%;
        justify-content: center;
    }
    .top-navigation > *:nth-child(2){
        width:80%;
        justify-content: end;
    }
    .top-navigation > *:nth-child(2) > *{
        min-width:15%;
        height:100%;
        margin:1px;
        display:flex;
        justify-content: center;
        align-items: center;
    }    
    .hero-area{
        width:100%;
        height:100%;
        margin-top:-4.5%;
        overflow:hidden;
    }
    .hero-area > div:nth-child(1){
        height:inherit;
        position:absolute;
        z-index:1;
        text-align:center;
    }
    .hero-area > div:nth-child(1) > img{
        width:auto;
        height:50%;
    }
    .hero-area > div:nth-child(1) > button{
        width:15.5%;
        height:13.5%;
    }
    .hero-area > div:nth-child(2){
        width:100%;
    }
    .hero-area > div:nth-child(2) > img{
        width:100%;
        height:auto;
    }
    .lokasi{
        padding:2%;
        flex-direction:column;
        align-items:center;
    }
    .lokasi > div:nth-child(3){
        width:50%;
        margin-top:5%;
    }
    .lokasi > div:nth-child(3) > div > *{
        margin:3px;
    }
    .produk{
        height:100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:15%;
    }
    .produk > .container{
        width:100%;
        justify-content: center;
        gap: 2%;
    }
    .produk > .container > div{
        width:25%;
        height:50%;
        text-align:center;
    }
    .produk > .container > div > img{
        width:100%;
        height:auto;
    }
    .produk > .container > div > button{
        width:25%;
        padding:2%;
        border:1px solid black;
    }
    .kegiatan {
        height:100%;
    }
    .kegiatan > div:nth-child(1){
        text-align:center;
    }
    .kegiatan > div:nth-child(2){
        width:100%;
        height:90%;
    }
    .kegiatan > div:nth-child(2) > div:nth-child(1) {
        width:30%;
        height:100%;
        flex-wrap:wrap;
        justify-content: center;
        align-content: center;
        gap:1%;
    }
    .kegiatan > div:nth-child(2) > div:nth-child(2){
        width:50%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .kegiatan > div:nth-child(2) > div:nth-child(1) > img{
        width:auto;
        height:30%;
    }
    .kegiatan > div:nth-child(2) > div:nth-child(2) > button{
        height:10%;
        border:1px solid black;
    }
    .footer{
        height:25%;
        justify-content: center;
        align-items:flex-end;
    }
    .form{
        width:100%;
        height:100%;
    }
    .form > div:nth-child(1){
        width:50%;
        height:100%;
    }
    .form > div:nth-child(1) > img{
        width:100%;
        height:auto;
    }
    .form > div:nth-child(2){
        width:50%;
        height:100%;
        position:absolute;
        top:0;
        right:0;
        padding:5%;
    }
    .form > div:nth-child(2) > div:nth-child(1){
        border:1px solid grey;
        height:50px;
        width:50px;
    }
    .form > div:nth-child(2) > div:nth-child(1) > *{
        font-size:72px;
        color:grey;
    }
    .form > div:nth-child(2) > :nth-child(2){
        margin-top:15%;
    }
    .form > div:nth-child(2) > form {
        width:100%;
        height:50%;
    }
    .form > div:nth-child(2) form > *{
        margin-bottom:2%;
    }
    .form > div:nth-child(2) form input{
        width:50%;
        height:40px;
        border:1px solid grey;
    }
    .form > div:nth-child(2) form button{
        width:30%;
        height:35px;
        border:1px solid grey;
    }
}